<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EmployeeRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\Employees.csv" />
    <add key="DepartmentRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\Departments.csv" />
    <add key="SiteRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\Sites.csv" />
    <add key="GroupRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\UserGroups.csv" />
    <add key="DeptManagerRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\DeptManagers.csv" />
    <add key="AccessMainRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\AccessPoints.csv" />
    <add key="DailyAccessRosterPath" value="C:\Arghya\Repos\AccessManagementCO\Data\DailyAccessLogs.csv" />
  </appSettings>
  <connectionStrings>
    <add name="UserAccess" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=UserAccess;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="PMFDB" providerName="System.Data.SqlClient" connectionString="Data Source=10.29.84.194,49400;User Id=saasinstaller;Password=ModelB_DB;Initial Catalog=PMF_UKB;"/>
  </connectionStrings>
</configuration>